
/*Containe Body*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Thin",sans-serif;
}

/*Header*/

header {
    height: 90px;

    display: flex;
    justify-content: space-around;
}

/*Logo du Header*/

header .logo {
    display: flex;
    align-items: center;
    width: 25%;
    margin: 0;
}

header img {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0;
}

/*Boutons du Header*/

header nav {
    font-family: "Roboto Thin",sans-serif;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

header nav a {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 35px;
    text-decoration: underline;
    color: black;
}

/*Contenu du milieu de page*/

.contenu_etudiants {
    font-family: "Roboto Thin",sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #3a3a3a;
    display:flex;
    align-items: center;
    line-height: 1.8
}

/*Partie gauche*/

.contenu_gauche {
    margin: 10%;
}

.contenu_gauche button {
    background-color: #336699;
    font-family: "Roboto Thin", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 60px 15px 60px ;
    border-radius: 100px;
    border: none;
}

.contenu_gauche button a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.contenu_gauche button a:hover {
    font-size: larger;
    cursor: pointer;
    position: relative;
}

.astérique_conditions {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    transition: letter-spacing 300ms ease 0ms
}

/*Partie droite avec l'image*/

.contenu_droite {
    display: flex;
}

.contenu_etudiants img {
    zoom: 100%;

}

/*Cartes des spécialités*/

.spécialités {
    display: flex;
    color: black;
    flex-direction: column;
    max-width: 100%;
    background-color: #e9e9e9;
}

.titre_spécialités {
    display:flex;
    justify-content: center;
}

.titre_spécialités h1 {
    font-size: 30px;
    text-decoration: underline;
    margin-top: 80px;
    height: 100px;
}

.panneau_spé {
    display: flex;
    text-align: left;
    background-color: white;
    justify-content: space-around;
    margin:0;
}

.spécialités .panneau_spé button {
    background-color: #336699;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 4%;
    font-size: 22px;
    border-radius: 100px;
    border: none;
    width: 90%;
    margin-left: 5%;
}

.spécialités .panneau_spé button a {
    text-decoration: none;
    color: white;
    position: relative;
}

.spécialités .panneau_spé button a:hover {
    transition: all 300ms ease 0ms;
}

.spé1 , .spé2 , .spé3 {
    width: 20%;
    padding: 1%;
    border-color: white;
    box-shadow: 0 0 10px #719ece;
}

/*Sizing des images des cartes*/

.spé1 img {
    width: 110px;
}

.spé2 img {
    width: 130px;
}

.spé1 img, .spé2 img, .spé3 img{
    display: flex;
    padding-left: 30%;
}

.titre_transfo {
    margin-top: 5px;
    display: flex;
    justify-content: center ;
    text-decoration: underline;
}

.titre_transfo h1 {
    margin-top: 80px;
    font-size: 30px;
    height: 80px;
}

/*Partie pour les entreprises*/

.container_talents {

    display: flex;
    background-color: white;
    margin-left: 120px;
    margin-right: 90px;
    margin-bottom: 90px;
}

.titre_recru h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    height: 50px;
}

.container_talents p {
    display: flex;
    background-color: white;
    text-align: center;
    margin-top: 35px;

}

.container_talents .img_recrutement {
    display: flex;
    zoom: 20%;
    margin-right: 70px;
}

.container_bouton_talent {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.container_bouton_talent button {
    background-color: #336699;
    color: white;

    font-weight: bold;
    text-align: center;
    font-size: 22px;

    border-radius: 100px;
    border: none;
    padding: 15px 30px 15px 30px;
}

.container_formation {

    display: flex;
    background-color: white;
    margin-left: 120px;
    margin-right: 90px;
    margin-bottom: 90px;
}

.titre_formation h3 {
    display: flex;
    font-size: 25px;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    height: 50px;
}

.container_formation p {
    display: flex;
    background-color: white;
    text-align: center;
    margin-top: 35px;
}

.container_formation .img_formation {
    display: flex;
    zoom: 20%;
    margin-right: 60px;
}

.container_bouton_formation {
    display: flex;
    justify-content: center;
}

.container_bouton_formation button {
    background-color: #336699;
    color: white;

    font-weight: bold;
    text-align: center;
    font-size: 22px;

    border-radius: 100px;
    border: none;
    padding: 15px 30px 15px 30px;
}

.container_innovation {

    display: flex;
    background-color: white;
    margin-left: 120px;
    margin-right: 90px;
    margin-bottom: 90px;
}

.titre_innovation h3 {
    display: flex;
    font-size: 25px;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    margin-top: 89px;
    height: 40px;
}

.container_innovation p {
    display: flex;
    background-color: white;
    text-align: center;
    margin-top: 30px;
}

.container_innovation .img_innovation {
    display: flex;
    zoom: 20%;
    margin-right: 40px;
}

.container_bouton_innovation {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.container_bouton_innovation button {
    background-color: #336699;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    border-radius: 100px;
    border: none;
    padding: 15px 30px 15px 30px;
}

/*Interview Zimmerman et Vidéo sur le prochain Campus*/

.container_futur {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    line-height: 0;
}

.titre_futur {
    display: flex;
    text-decoration: underline;
    font-size: 25px;
    color: white;
    justify-content: center;
    margin-top: 50px;
}

.text_futur {
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: center;
    text-align: center;
}

.text_zimmerman {
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}

.vidéos_youtube {
    display: flex;
    justify-content: space-around;
    background-color: lightcoral;
    margin-bottom: 50px;
}

/*Informations légales*/

.container_informations_légales {
    line-height:35px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    background-color: #3a3a3a;
    padding:90px 30px 30px 60px;
}

.container_informations_légales img {
    display: block;
    width: 400px;
}

/*Listes des informations légales*/

.liste_laplateforme ul {
    color: white;
    list-style-type: none;
}

.liste_lesformations ul {

    color: white;
    list-style-type: none;
}

.liste_informations ul {
    color: white;
    list-style-type: none;
}

/*Titres en gras des listes*/

.titre_liste_formation {
    margin-bottom: 10px;
}

.titre_liste_laplateforme {
    margin-bottom: 10px;
}

.titre_liste_informations {
    margin-bottom: 10px;
}

.liste_informations button {
    margin-top: 10px;
    background-color:transparent;
    color: white;
    padding: 8px 40px 8px 40px;
    border-color: white;
    border-radius: 5%;
}

/*Footer avec le copyright*/

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
}

.text_copyright {
    display:flex;
    color:white;
}

